* {
  margin: 0;
  margin: 0;
}

body {
  font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
  font-weight: thin;
  color: rgb(15, 15, 15);
  background-color: rgb(245, 245, 245);
}

.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.flex-container > div {
  text-align: center;
  font-size: 4rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  cursor: pointer;
  text-decoration: underline;
  user-select: none;
}

@media screen and (max-width: 850px) {
  .flex-container {
    margin-top: 10vh;
    height: 90vh;
  }

  .flex-container > div {
    font-size: 1.5rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }
}

@keyframes FadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
